github "zendesk/sdk_conversation_kit_ios" ~> 15.0.0
github "zendesk/sdk_ui_components_ios" ~> 15.0.0
github "zendesk/sdk_zendesk_ios" ~> 3.18.0
github "zendesk/sdk_core_utilities_ios" ~> 8.1.0
github "zendesk/sdk_guide_kit_ios" ~> 2.11.0
github "zendesk/sdk_analytics_kit_ios" ~> 1.0.0
