github "zendesk/sdk_conversation_kit_ios" ~> 11.3.0
github "zendesk/sdk_ui_components_ios" ~> 13.3.0
github "zendesk/sdk_zendesk_ios" ~> 3.10.0
github "zendesk/sdk_core_utilities_ios" ~> 7.2.0
github "zendesk/sdk_guide_kit_ios" ~> 2.5.0
