github "zendesk/sdk_conversation_kit_ios" ~> 4.1.0
github "zendesk/sdk_ui_components_ios" ~> 7.1.0
github "zendesk/sdk_zendesk_ios" ~> 2.3.0
github "zendesk/sdk_core_utilities_ios" ~> 2.2.2
github "zendesk/sdk_guide_kit_ios" ~> 0.2.0
